.card-user img {
    /* object-fit: cover; */
    background-color: rgb(24, 24, 24);
    position:absolute;
    z-index:1;  
    width:100%; 
    height:100%;
    
}
.card-text{
    background-color: rgb(24, 24, 24);
}



